*{
	padding:0;
	margin:0;
}

html {
	box-sizing:border-box;
}
*,::before,::after{
	box-sizing:inherit;
}

#team img{
	width: 6em;
}





.navbar{
	background-color:#70777D;
	border:0;
}
.navbar-collapse{
	border:0;
}



.navbar ul{
	float:right;
}
.navbar .navbar-nav li a{
		color:#A7E742;
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus{
		color:#91C451;
}
.navbar-header .navbar-toggle{
	border-color:#A7E742;
}
.navbar-header .navbar-toggle .icon-bar{
	background-color:#A7E742;
}
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus{
	border-color:#91C451;
	background-color:#888888;
}

nav img{
	width:10%;
	height:auto;
}
