*{
	padding:0;
	margin:0;
}

html {
	box-sizing:border-box;
	background: linear-gradient(135deg, #cedbe9 0%,#61dce2 4%,#6199c7 12%,#46eae7 39%,#419ad6 58%,#4bb8f0 72%,#3a8bc2 90%,#26558b 100%);
}

*,::before,::after{
	box-sizing:inherit;
}

#team img{
	width: 6em;
}

body{
	margin-top: 4em;
}

h1{
	font-weight:bold;
	font-size:3em;
	text-align:center;
	margin-top:2em;
	letter-spacing: 0.2em;
	color:#00649C;
	font-family: Tahoma;
}
#tourschrift{
	padding-bottom: 1em;
}
h2{
	text-align:center;
	font-weight:bold;
	font-size:1.5em;
	padding:0.5em;
}

#info p{
	text-align:center;
}

.dahinter{
	width:100%;
	background: linear-gradient(135deg, #cedbe9 0%,#61dce2 4%,#6199c7 12%,#46eae7 39%,#419ad6 58%,#4bb8f0 72%,#3a8bc2 90%,#26558b 100%);

}

#info{
	background-color: rgba(255, 255, 255, 0.5);
	margin: 3em 2em 2em 2em;
	border-radius: 2.5em;
	padding: 1.5em 1em 2em 1em;
}

.navbar{
	background-color:#6190B8;
	border:0;
}
.navbar-collapse{
	border:0;
}

.navbar ul{
	float:right;
}
.navbar .navbar-nav li a{
		color:#22E7DB;
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus{
		color:#00659D;
}
.navbar-header .navbar-toggle{
	border-color:#22E7DB;
	color:#22E7DB;
}
.navbar-header .navbar-toggle .icon-bar{
	background-color:#22E7DB;
}
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus{
	border-color:#00659D;
	background-color:#888888;
	color:#00659D;
}

.navbar-brand{
	margin:0.2em;
	padding:0;
}
nav img{
	width:18%;
}


.team{
	background-color:#00649C;
}
.team .thumbnail{
	background-color:#6190B8;
	border:0;
	border-radius:5%;
}
.team img{
	
	width:30%;
	height:auto;
}

#myvid{
	width: 65%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	
}
#goomap{
	padding-bottom: 3em;
	width: 100%;
	margin: 0 auto;
	background-color:#6190B8;
}
iframe{
	display: block;
	margin: 0 auto;
}

/*------------------------------Foto Galerie------------------------------------*/

.gallery{
	text-align: center;
}

.fancy{
	padding: 0.8em;
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	text-align: center;
}

/*------------------------------Raumbelegung------------------------------------*/

th, td{
	border: 1px solid #000000;
	padding: 0.2em;
}

form{
	width:250px;
}
